services:
  web:
    build:
      context: .
      args:
        APP_VERSION: ${APP_VERSION:-dev}
    container_name: next-docker-test
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
